@import 'general.css';

body {
    background-color: var(--very-dark-blue);
}

.wrapper {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    margin: 1.7rem auto 0 auto;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left-side right-side";
    margin-bottom: 2em;
}

.navbar-left-side {
    display: flex;
    flex-direction: column;
}

.navbar-left-side > h1 {
    color: var(--white);
    font-weight: 700;
    font-size: 1.7em;
}

.navbar-left-side > p {
    color: var(--desaturated-blue);
    font-weight: 700;
    font-size: .9em;
    margin: .3em 0;
}

.navbar-right-side {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1 0 auto;
}

.navbar-right-side > span {
    color: var(--desaturated-blue);
    font-weight: 700;
    font-size: .9em;
    margin-right: .7em;
}

.toggle {
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    width: 3em;
    height: 1.6em;
    border-radius: 1em;
    cursor: pointer; } 
.circle {
    display: block;
    background: var(--very-dark-blue);
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    position: relative;
    left: 4px;
    top: 2px;
}

.row {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: .5em;
    height: 14em;
    margin-bottom: 1.5em;
    background-color: var(--dark-desaturated-blue);
}

.border-facebook::before {
    display: block;
    content: "";
    background-color: var(--facebook);
    height: 5px;
    width: 100%;
    border-radius: .5em .5em 0 0;
    position: relative;
    top: -1.2em;
    left: 0;
}

.border-twitter::before {
    display: block;
    content: "";
    background-color: var(--twitter);
    height: 5px;
    width: 100%;
    border-radius: .5em .5em 0 0;
    position: relative;
    top: -1.2em;
    left: 0;
}

.border-instagram::before {
    display: block;
    content: "";
    background: linear-gradient(to right, var(--instagram-first-color), var(--instagram-second-color));
    height: 5px;
    width: 100%;
    border-radius: .5em .5em 0 0;
    position: relative;
    top: -1.2em;
    left: 0;
}

.border-youtube::before {
    display: block;
    content: "";
    background-color: var(--youtube);
    height: 5px;
    width: 100%;
    border-radius: .5em .5em 0 0;
    position: relative;
    top: -1.2em;
    left: 0;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header-icon {
    margin-right: .7em;
}

.card-header-text {
    color: var(--desaturated-blue);
    font-weight: 700;
    font-size: 14px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body-number {
    color: var(--white);
    font-weight: 700;
    font-size: 4em;
}

.card-body-text {
    color: var(--desaturated-blue);
    text-transform: uppercase;
    letter-spacing: .2em;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer-icon {
    margin-right: .5em;
}

.card-footer-day {
    color: var(--white);
    font-weight: 700;
    font-size: .85em;
}

.text-success {
    color: var(--sucess);
}

.text-danger {
    color: var(--danger);
}

.small-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: .5em;
    height: 8.5em;
    margin-bottom: 1.2em;
    background-color: var(--dark-desaturated-blue);
}

.card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

.card-top-text {
    color: var(--desaturated-blue);
    font-weight: 700;
    font-size: .9em;
}

.card-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 85%;
}

.card-bottom-number {
    color: var(--white);
    font-weight: 700;
    font-size: 2.2em;
}

.overview-title {
    color: var(--white);
    margin-bottom: 1.3em;
}


@media screen and (max-width: 768px) {
    .navbar {
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 2em;
    }

    .navbar-left-side {
        grid-column: 1 / 3;
        border-bottom: 1px solid hsl(0, 0%, 18%);   
    }

    .navbar-left-side > p {
        padding-bottom: 1.5em;
    }

    .navbar-right-side {
        grid-column: 1 / 3;
        justify-content: space-between;
    }
}
